<!DOCTYPE>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

	<title>Handlebars Test</title>
	<style type="text/css">
		.main { width: 100%; margin: auto; }
	</style>
	<link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">

</head>
<body>
	<h1>simple-media-share</h1>
	<div class="box main">
		{{{body}}}
	</div>
	<script src="/lib/js/jQuery.min.js"></script>
	<script src="/lib/js/tether.min.js"></script>
	<script src="/lib/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>